<form class="registerForm" id="trRegisterForm">
  <h3>Parent Register Form</h3>
  <div class="mb-3">
    <label for="prAccount" class="form-label">Account:</label>
    <input type="account" class="form-control" id="prAccount">
  </div>
  <div class="mb-3">
    <label for="prPassword" class="form-label">Password:</label>
    <input type="password" class="form-control" id="prPassword">
  </div>
  <div class="mb-3">
    <label for="prName" class="form-label">Name:</label>
    <input type="text" class="form-control" id="prName">
  </div>
  <div class="mb-3">
    <label for="prPhone" class="form-label">Phone:</label>
    <input type="text" class="form-control" id="prPhone">
  </div>
  <button type="submit" id="registerBtn" class="btn btn-primary" bg-info>Submit</button>
</form>